<% layout('Layout/boilerplate') %>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="<%=foundCampground.image%>" class="card-img-top" alt="<%=foundCampground.description%>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= foundCampground.title %>
                    </h5>
                    <p class="card-text">
                        <%= foundCampground.description %>
                    </p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= foundCampground.location%>
                    </li>
                    <li class="list-group-item">$<%= foundCampground.price%>/night</li>
                </ul>
                <% if( currentUser && foundCampground.author.equals(currentUser)){ %>

                    <div class="card-body">
                        <a href="/campgrounds/<%=foundCampground._id%>/edit" class="btn btn-info">Edit Campground</a>
                        <form action="/campgrounds/<%=foundCampground._id%>?_method=DELETE" method="POST"
                            class="d-inline">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>

                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                        <div class="card-footer text-muted">
                            Author: <br>
                            <h4>
                                <%= foundCampground.author.username %>
                            </h4>
                        </div>
            </div>
            <br>



        </div>

        <% if (currentUser){ %>
            <div class="col-6">
                <h2>Leave a Review</h2>
                <form action="/campgrounds/<%=foundCampground._id%>/reviews" method="POST" class='mb-3 validated-form'
                    novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows=3"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks Good
                        </div>
                    </div>
                    <button class="btn btn-success">Add Review</button>
                </form>
                <% } %>


                    <h2>Reviews</h2>

                    <% foundCampground.reviews.forEach(comment=> { %>
                        <div class="card mb-3">
                            <div class=" card-body">
                                <h5 class="card-title">
                                    Rating: <%= comment.rating %>
                                </h5>
                                <p class="card-subtitle">
                                    submitted by: <%= comment.author.username %>
                                </p>
                                <br class="d-none d-sm-inline">
                                <p class="card-text">
                                    Review: <%= comment.body %>
                                </p>


                                <%if(currentUser._id.equals(comment.author._id)){ %>
                                    <form
                                        action="/campgrounds/<%=foundCampground._id%>/reviews/<%=comment._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>

                            </div>
                        </div>

                        <% }) %>


            </div>
            <!-- <a href="/campgrounds" class="btn btn-primary">All Campgrounds</a> -->
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')// add .validated -form as a class to the form you want to validate

            // Loop over them and prevent submission
            Array.from(forms)// This will turn forms into an array
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>


    </script>